@page "/Chat"
@using OpenAI.Net;
@using ConfessToAthena.Data;
@* @inject WeatherForecastService ForecastService *@
@inject IOpenAIService openAiService;

<PageTitle>Chat with Athena</PageTitle>
 @* I may remove it *@

<h1>Chat with Athena</h1>

<EditForm Model="@SearchModel" OnValidSubmit="Search">

    <InputText @bind-Value = "SearchModel.SearchText"></InputText>
    <button type="submit">Search</button>

</EditForm>

<ul>
    @foreach(var item in History)
    {
        <li>
            <div>@item.User</div>
            <div>@item.Message</div>

        </li>
    }

</ul>

@code {
    private SearchInfo SearchModel = new SearchInfo();
    private List<ChatInfo> History = new List<ChatInfo>();

    private async Task Search()
    {
        History.Add(new ChatInfo() { Message = SearchModel.SearchText, User = "flameonkey" });
        History.Add(new ChatInfo() { Message = "", User = "AI" });

        await foreach(var response in openAiService.TextCompletion.GetStream(SearchModel.SearchText))
        {
            History[History.Count - 1].Message += response.Result.Choices[0].Text;
        }

        SearchModel.SearchText = "";
    }

    protected override async Task OnInitializedAsync()
    {
        
    }
}
